/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*section{
    width: 100%;
}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* utilities */

.w-70 {
    width: 70%;
}

.m-auto {
    margin: 0 auto;
}

.reverse {
    flex-direction: row-reverse;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

a{
    text-decoration: inherit;
    color: white;
    margin-right: 30px;
}

ul{
    list-style-type: none;
}

li{
    color: white;
    padding-bottom: 20px;
}

h2{
    font-size: 3rem;
    margin-bottom: 32px;
}

h4{
    font-size: 2.1rem;
}

h5{
    color:rgb(114 137 218) ;
    font-size: 1rem;
}

p{
    font-size: 1.3rem;
    line-height: 30px;
}

/* header */

.header{
    background-color: rgb(37 94 233);
    height: 80px;
    padding-bottom: 120px;
}

.container-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
}



.login{
    background-color: white;
    color: black;
    width: 60px;
    height: 30px;
    padding: 6px;
    text-align: center;
    border-radius: 15px;
}

/* hero */

.container-hero{
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero{
    width: 60%;
    text-align: center;
    color:white;
}

.p-hero{
    margin-bottom: 40px;
}

.download{
    background-color: white;
    margin-right: 20px;
    color: black;
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 30px;
}

.apri{
    background-color: rgb(35 39 42);
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 30px;
}

/* inizio blocchi */

.blocco2{
    background-color:rgb(246 246 246);
}

/* videochiamate e audio  */

.blocco4{
    background-color: rgb(246 246 246);
    text-align: center;
}

.start{
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding: 30px 0px;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.mac{
    color: black;
    background-color:rgb(114 137 218);
    padding: 15px;
    border-radius: 30px;
}

/* faq */

.blocco5{
    background-color: rgb(35 39 42);
    margin-bottom: 1px;
}



.colonna1{
    width: calc(100%/6);
    flex-grow: 1;
    height: 350px;
    color:rgb(114 137 218) ;
}

.colonna2, .colonna3, .colonna4, .colonna5{
    width: calc(100%/6);
    height: 350px;
}

.italian-flag{
    width: 30px;
    height: 20px;
    margin-right: 15px;
}

.titolo-faq{
    margin-bottom: 20px;
}

.selezione-lingua{
    display: flex;
}

.lingua{
    color: white;
    display: flex;
}

.social{
    font-size: 1.5rem;
    color: white;
}



/* footer */

.footer{
    background-color: rgb(35 39 42);
    height: 100px;
    display: flex;
}

.container-footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-registrati{
    background-color:rgb(114 137 218);
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}